">DS_Store" 
node_modules
.c9
/COMP2068-Trail02
/COMP2068-Trail01
/COMP2068-SlotmachineDemo
/COMP2068-MailPilotDemo
/COMP2068-ImpressDemo/
/COMP2068-Lesson1/
/COMP2068-Trail03/
/COMP2068-Trail04/
/COMP2068-Trail05/
/COMP2068-Trail08/
/Excite-Bike/
/COMP2068-CreatejsBoilerplate/
